<!-- Footer -->
<footer role="contentinfo" class="footer footer--intranet">
  <div class="footer__inner">
    <div class="footer__top">
      <a class="footer__hccc" href="https://www.hccc.edu">HCCC Site 
        <svg class="icon-external" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M12 4L4 12M12 4H8M12 4V8" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>

      <div class="footer__top__col">
        <div class="footer__logo">
          <a href="/">
            <img src="{{ url_for('static', path='portal_template/assets/icons/logo-teal.svg') }}" alt="Hudson county community college logo">
          </a>
        </div>

        <div class="footer__location">
          <div class="address">
            70 Sip Avenue<br>
            Jersey City, New Jersey 07306
          </div>
          <div class="contact">
            <span>201-714-7100</span>
            <span>
              <a href="https://www.hccc.edu/contact">Contact Us</a>
            </span>
          </div>
        </div>
      </div>

      <div class="footer__social">
        <ul class="social">
          <li>
            <a href="#" class="facebook"><span class="visually-hidden">facebook</span></a>
          </li>
          <li>
            <a href="#" class="instagram"><span class="visually-hidden">instagram</span></a>
          </li>
          <li>
            <a href="#" class="tweet"><span class="visually-hidden">twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom__col">
        <div class="footer__ancillary">
          <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">FERPA</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Legal Notice</a></li>
            <li><a href="#">Title IX</a></li>
            <li><a href="#">Directory</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">MyHudson</a></li>
          </ul>
        </div>

        <div class="footer__copyright">&copy; {{ current_year }} Hudson County Community College. All rights reserved.</div>
      </div>

      <div class="footer__ifactory">Site design by <a href="https://www.ifactory.com/">iFactory</a></div>
    </div>
  </div>
</footer> 